{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Solar Energy{% endblock %}</title>
    <!-- Fonte Monstesserat-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        <nav>
            <a href="{% url 'login' %}">Home</a>
            <a href="{% url 'ajuda' %}">Ajuda</a>
        </nav>
    </header>
    <!-- Conteúdo principal -->
    <main>
        {% block content %}{% endblock %}
    </main>
    <!-- Rodapé -->
    <footer class="rodape">
        <p>© 2026 Solar Energy</p>
    </footer>
</body>
</html>